.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-label {
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
  }

  &-input {
    width: 100%;
    height: 50px;
    line-height: 48px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    width: 100%;
  }
}

.button {
  width: 100%;
  height: 50px;
  line-height: 48px;
  background: black;
  color: white;
  border: 1px solid transparent;
  box-shadow: none;
  transition: .1s linear;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    box-shadow: 0 5px 25px 0 rgba(black, .25);
    background: crimson;
    letter-spacing: 1px;
    transition: .2s ease-in-out;
  }
}

.load-loadMore {
  @extend .button;
}

.filterbar,
.sortbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background: #eee;

  
  &-item {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-right: 30px;
    height: 30px;
  }

  &-title {
    display: block;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 10px;
    font-weight: 700;

  }
}

.sortbar {
  border-top: 1px solid lightgray;
}

.filterbar {
  &-col {
    flex-direction: column;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &-item {
    .form-label {
      width: 115px;
    }
  }
}

